/*GENERAL STYLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-family: 'PT Sans', sans-serif;
    background-color: #0a283f;/*debug*/
    color: #fff;

}